body{
    background:#e8e4e1;
}

.div-container{

  width: 400px;
  height: 200px;
  background: #1560bd;
  margin: 16px auto;
  padding: 10px;
  
}
img{
    display: block;
    height: auto;
    width: 500px;
    margin: 8px auto;

    
}
.center-text{
    text-align: center;
    
}

h1{
    text-align: center;
}

a{
    color:#333333
}



a:hover{
    color: #fff;
}

.link-recipe{
    color:#ffff99;


}
.link-recipe:hover{
    color:#333333
}

li{
     list-style-position: inside;
}


